<% layout('layouts/boilerplate')%>

<h1>All USERS</h1>
<div>
    <a href="users/new" class="btn btn-success">Add User</a>
</div>
<% rows.forEach((user) =>{%>
<div class="card" mb-3>
    <div class="row">
        <div class="col-md-8">
            <div class="card-body">
                
                <p class="card-text">
                    <ul>
                        <li><%= user.username %> </li>
                        <a href="users/<%=user.email%>" class="btn btn-primary">View</a>
                    </ul>
                </p>
                
            </div>
        </div>
    </div>
</div>
<% })%>